{% extends "base/game-base.html" %}
{% block title %} Home {% endblock title %}
{% load static %}

{% block content %}
    <canvas class="confetti_canvas"></canvas>
    <div id="finish_box" class="container mx-auto p-4 mt-10">
        <div class="flex flex-col items-center">
            <h1 class="text-5xl font-bold text-colors-white p-4" >
                Congrats!!!
            </h1>

            <div class="text-colors-white text-center">
                <h3 class="font-bold text-3xl mb-5">Ranking</h3>
                <div>
                    {% for p in players %}
                        <div class="mb-3 bg-light_aqua__c rounded-xl py-2 px-5 flex flex-row items-center">
{#                            <img src="{% static 'icons/user_profile.png' %}" class="w-8 mr-3" alt="user profile">#}
                            <p class="mr-10">{{ p.nickname }}</p>
                            <p class="ml-auto">{{ p.score }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <script>
        const profile_picture_url = '{% static 'icons/user_profile.png' %}';
        function copy_room_code() {
            const room_code = "{{ request.session.room_id }}";
            navigator.clipboard.writeText(room_code);

            $('#room_code_button').text('Copied!')
            console.log("room code coppied!")
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
    <script src="{% static '/js/confetti.js' %}"></script>
{% endblock content %}
